/node_modules
/public/storage
/storage/framework/cache/*
/storage/framework/laravel-excel/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/backup
/storage/files
/vendor
.env
.env.testing
.idea
*.iml
*.ipr
*.iws
.DS_Store
Homestead.json
Homestead.yaml
